.list_img_inline {
  display: inline-block;
  /*object-fit: cover;*/
  /*width: 50px;*/
  /*height: 50px;*/
}

.news_img_block {
    horiz-align: center;
    /*background-color: white;*/
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
}

.news_img {
    display: inline-block;
    max-width: 100%;
    border-radius: 10px;
}

.news_list_img_block {
    horiz-align: center;
    /*background-color: white;*/
    border-radius: 10px;
    /*margin-bottom: -20px;*/
    /*max-height: 200px;*/
}

.news_list_img {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

/* Базовые стили слоя затемнения и модального окна  */

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  /* фиксированное поцизионирование */
  cursor: default;
  /* тип курсара */
}


/* активируем слой затемнения */

.overlay:target {
  display: block;
}


/* стили модального окна */

.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  /* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}


/* активируем модальный блок */

.overlay:target+.popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 10%;
}


/* формируем кнопку закрытия */

.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "Х";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
}

.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
}


/* изображения внутри окна */
.popup img {
  width: 100%;
  height: auto;
}

/* элементы м-медиа, фреймы */

/*.popup embed,*/
/*.popup iframe {*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  display: block;*/
/*  margin: auto;*/
/*  min-width: 320px;*/
/*  max-width: 600px;*/
/*  width: 50%;*/
/*}*/
