{% load static %}

{% if request.user.is_authenticated %}
    <form action="{% url 'like_list' %}" method="POST" class="news_info_likes" id="{{ post.id }}">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">

        {% if request.user in post.likes.all %}
            <button
                    style="font-size: 30px; color: #ff3a40; "
                    class="like-btn{{ post.id }}"
                    id="like_button"
                    type="submit"
                    value="liked">
                ❤
            </button>
        {% else %}
            <button
                    style="font-size: 25px; color: #ffffff;
                            -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: black;"
                    class="like-btn{{ post.id }}"
                    id="like_button"
                    type="submit"
                    value="unliked">
                ❤
            </button>
        {% endif %}

        <div class="like-count{{ post.id }}" id="like_count">
            {{ post.total_likes }}
        </div>
    </form>
{% else %}
    <a href="{% url 'login' %}"><img class="like_image" src="{% static 'img/unliked.png' %}"></a>
{% endif %}

